/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/


:root {
  --black-color: black;
  --red-color: red;
  --light-color: beige;
  --dark-red-color: darkred;
}

body {
  --black-color: black;
  --red-color: red;
  --light-color: beige;
  --txt-color: beige;
  --dark-red-color: darkred;
  /*background: var(--black-color);*/
  background: var(--light-color);
}
body.light-theme {
  background: var(--light-color);
  --txt-color: black;
}